<div class="d-flex justify-content-between mb-4">
    <div class="w-48">
        <%= f.InputTag("Title") %>
    </div>
    <div class="w-48" >
        <%= f.SelectTag("ServiceDepartmentID", {options: departments , label: "Service Area",class:"form-select" }) %>
    </div>
</div>
<div class="d-flex justify-content-between mb-4">
    <div class="input-type w-48">
        <%= f.SelectTag("RequirementTypeID", {options: requirementTypes, label:"Type", class:"form-select" }) %>
    </div>
    <div class="w-48">
        <%= f.SelectTag("RequirementSubTypeID", {options: requirementSubTypes, label: "Subtype", class:"form-select" }) %>
    </div>
</div>
<div class="d-flex justify-content-between mb-4">
    <div class="input-type w-48">
        <%= f.SelectTag("CreatedByUserID", {options: users, label: "User" }) %>
    </div>
    <div class="w-48">
        <%= f.SelectTag("RequestingDepartmentID", {options: departments, label: "Department"  }) %>
    </div>
</div>
<div>
    <%= f.TextArea("Description", {rows: 5, class:"resize-none"}) %>
</div> 
<div class="d-flex  justify-content-end mt-4 ">
    <%= linkTo(requirementsPath(), {class: "btn btn border rounded-pill", "data-confirm": "Are you sure?", body: "Cancel"}) %>
    <button class="btn rounded-pill bg-green-ligth text-white ms-2 btn-save-requirement" type="submit">Save Requirement</button>
</div>