<div class="pt-4 mt-1 pb-1 mb-2 d-flex justify-content-between">
	<h3 class="d-inline-block">Requirements</h3>
	<div class="float-right">
		<a href="/requirements/new">
			<button class="btn btn-warning">
				<i class="fa fa-plus"></i>
				New Requirement
			</button>
		</a>
	</div>
</div>


<div class="d-flex gap-3 items-navigation">
	<div class="item-active">

		<h3 class="fs-6">
			Approved(2)
		</h3>
	</div>
	<div>
		<h3 class="fs-6">
			Pending(2)
		</h3>
	</div>
</div>

<div>
	<%= for (requirement) in requirements { %>
		<div>
			<h1>
				<%= requirement.Title %>
			</h1>
			<div>
				<div>
					DENY
				</div>
				<div>
					APPROVE
				</div>
				<div class="dropdown">
					<a class="btn " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Dropdown link
					</a>

					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="/requirements/update/<%= requirement.ID %>">Edit</a></li>
						<li>
							<%= form({action: "/requirements/delete/" +requirement.ID , method:"DELETE", class: "py-2 py-md-0" }) { %>

								<button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#A<%=requirement.ID%>" type="button">
									Delete
								</button>
								<%= partial("requirement/modal.plush.html", {ID : requirement.ID}) %>
							<% } %>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<% } %>
</div>


<div class="text-center">
	<%= paginator(pagination) %>
</div>