<div class="py-3">
  	<h3 class="d-inline-block fw-bolder"><a class="text-dark " href="/requirements"><i class="fa-solid fa-arrow-left"></i></a>  New Requirement</h3>
</div>

<%= formFor(requirement, {action: "/requirements/new", method: "POST"}) { %>
	<%= partial("requirement/form.plush.html") %>
	<div class="d-flex gap-2 justify-content-end">
		<%= linkTo(requirementsPath(), {class: "btn btn-warning mt-3", "data-confirm": "Are you sure?", body: "Cancel"}) %>
		<button class="btn btn-success mt-3 fw-light " role="submit">Save Requirement</button>
	</div>

<% } %>