<div class="py-4 mb-2">
	<h3 class="d-inline-block">Requirement Details</h3>
	<div class="float-right">
		<%= linkTo(requirementsPath(), {class: "btn btn-info"}) { %>
		Back to all Requirements
		<% } %>
		<%= linkTo(editRequirementPath({ requirement_id: requirement.ID }), {class: "btn btn-warning", body: "Edit"}) %>
		<%= linkTo(requirementPath({ requirement_id: requirement.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
	</div>
</div>

<ul class="list-group mb-2 ">
	<li class="list-group-item pb-1">
		<label class="small d-block">ID</label>
		<p class="d-inline-block"><%= requirement.ID %></p>
	</li>
	<li class="list-group-item pb-1">
		<label class="small d-block">CreatedAt</label>
		<p class="d-inline-block"><%= requirement.CreatedAt %></p>
	</li>
	<li class="list-group-item pb-1">
		<label class="small d-block">UpdatedAt</label>
		<p class="d-inline-block"><%= requirement.UpdatedAt %></p>
	</li>
</ul>