<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
        <%= for (Department) in departments { %>
            <tr>
                <th scope="row"><a href="/show/<%=Department.ID %>"><%= Department.ID %> </a></th>
                <td><%= Department.Name %></td>
                <td><%= Department.Description %></td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="more-options btn" data-bs-toggle="dropdown" aria-expanded="false">
                          ...
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/edit/<%= Department.ID %>">Change Contract End Date</a></li>
                            <li><%= linkTo(	destroyDepartmentIDPath({department_id: Department.ID}), {class: "dropdown-item", data-method:"DELETE", data-confirm:"Are you sure?"}) { %> Remove <% } %></li>
                        </ul>
                    </div>
                </td>
            </tr>
        <% } %>
    </tbody>
</table>
<a class="btn btn-primary" href="/department/new">Add Line</a>