<div class="vertical-nav">

</div>
<div class="page-content mt-3">
    <a href="/departments" class="btn back mt-1"></a>
    <h5 class="ms-2 mb-0 title">New Description</h5>
</div>
<div class="form-department">
    <%= formFor(department, {action: createDepartmentPath() ,method: "POST", class:"size-box"}) { %>
        <%= f.InputTag("Name", {type:"text", class:"mb-2", placeholder:"Type your title here..."}) %>
        <%= f.TextArea("Description", {rows: 5, placeholder:"Add more details about this requirements here", class:"description-message"}) %>
        <div class="d-flex btns-new-department mt-4">
            <a href="/departments" class="cancel btn">Cancel</a>
            <button class="btn d-flex save ms-2" type="submit">Save Department</button>
        </div>
    <% } %>
</div>