<div class="page-content d-flex align-items-center mt-3">
    <a href="/departments" class="btn back mt-1 ps-2 border-0"></a>
    <h5 class="ms-2 mb-0 fs-4">New Department</h5>
</div>
<div class="form-department">
    <%= formFor(department, {action: createDepartmentPath() ,method: "POST"}) { %>
        <%= f.InputTag("Name", {type:"text", class:"mb-2", placeholder:"Type your title here..."}) %>
        <%= f.TextArea("Description", {rows: 5, placeholder:"Add more details about this requirements here", class:"height-115"}) %>
        <div class="d-flex justify-content-end mt-4">
            <a href="/departments" class="cancel btn rounded-pill">Cancel</a>
            <button class="btn save ms-2 text-white border-0 rounded-pill" type="submit">Save Department</button>
        </div>
    <% } %>
</div>