<div>
	<div class="row pt-4 mt-1 pb-1 mb-2 d-flex justify-content-between">
		<div class="col-6 fs-4 fw-bold semi-bold"> Types  </div>
		<div class="col-6 text-end">
			<%= linkTo(newRequirementTypePath(), {class: "btn border rounded-pill px-3"}) { %>
				<i class="fa fa-plus"></i> New Type
				<% } %>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<table class="table align-middle">
				<thead class="bg-gray-ligth">
				  <tr >
					<th scope="col" class="text-secondary fw-normal w-15">NAME</th>
					<th scope="col" class="text-secondary fw-normal w-35">DESCRIPTION</th>
					<th scope="col" class="text-secondary fw-normal w-25">Create By:</th>
					<th scope="col" class="text-secondary fw-normal"></th>
				</tr>
				</thead>
				<tbody>
					<%= for (requirementType) in requirementTypes { %>
						<tr>
							<td class="align-middle py-4"><span class=" p-1 px-2 rounded-pill bg-info bg-opacity-25 fw-light text-muted "><%= requirementType.Name %></span></td>
							<td class="align-middle fw-light fs-6"><%= requirementType.Description %></td>
							<td class="align-middle green-ligth"><%= requirementType.CreatedByUser.FirstName %> <%= requirementType.CreatedByUser.LastName %></td>
							<td class="text-end">
								<div class="dropdown d-flex justify-content-end">
									<a class="border rounded-circle circle d-flex text-end justify-content-center text-decoration-none align-items-center" href="#"  id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
										<i class="fa-solid fs-5 fa-ellipsis  text-dark"></i>
									  </a>
	
									<ul class="dropdown-menu">
									  <li><%= linkTo(editRequirementTypePath({requirement_type_id: requirementType.ID }), {class:"dropdown-item", body: "Edit"}) %></li>
									  <li><%= linkTo(deleteRequirementTypePath({requirement_type_id: requirementType.ID }), {class:"dropdown-item", data-method: "DELETE" ,"data-confirm": "Are you sure?", body: "Delete"}) %></li>
									</ul>
								  </div>
							</td>
						</tr>
	
						<% } %>
				
				</tbody>
			  </table>
	
				<div class="text-center">
					<%= paginator(pagination) %>
				</div>
		</div>
	</div>
	</div>
	
	
	