<div class="py-4 mb-2">
	<h3 class="d-inline-block">RequirementTypes</h3>
	<div class="float-right">
		<%= linkTo(newRequirementTypePath(), {class: "btn btn-primary"}) { %>
		Create 
		<% } %>
	</div>
</div>

<table class="table table-hover table-bordered">
	<thead class="thead-light">
		<th>ID</th>
		<th>CreatedAt</th>
		<th>UpdatedAt</th>
		<th>Name</th>
		<th>CreateBy</th>
		<th>Options</th>

	</thead>
	<tbody>
		<%= for (requirementType) in requirementTypes { %>
		<tr>
			<td class="align-middle"><%= requirementType.ID %></td>
			<td class="align-middle"><%= requirementType.CreatedAt %></td>
			<td class="align-middle"><%= requirementType.UpdatedAt %></td>
			<td class="align-middle">name User</td>
			<td class="align-middle"><%= requirementType.Name %></td>
			<td>
				<div class="float-right">
					<%= linkTo(showRequirementTypePath({ requirement_type_id: requirementType.ID }), {class: "btn btn-info", body: "View"}) %>
					<%= linkTo(editRequirementTypePath({ requirement_type_id: requirementType.ID }), {class: "btn btn-warning", body: "Edit"}) %>
					<%= linkTo(deleteRequirementTypePath({ requirement_type_id: requirementType.ID }), {class: "btn btn-danger", data-method: "DELETE" ,"data-confirm": "Are you sure?", body: "Destroy"}) %>
				</div>
			</td>
		</tr>
		<% } %>
	</tbody>
</table>

<div class="text-center">
	<%= paginator(pagination) %>
</div>