<div class="py-4 mb-2">
    <h3 class="d-inline-block">Edit User</h3>
</div>

<%= formFor(user, {action: updateUsersPath({ user_id: user.ID }), method: "PUT"}) { %>
        <%= f.InputTag("CreatedAt") %>
        <%= f.InputTag("UpdatedAt") %>
        <%= f.InputTag("FirstName") %>
        <%= f.InputTag("LastName") %>
        <%= f.InputTag("DNI") %>
        <%= f.InputTag("EmailAddress") %>
        <%= f.SelectTag("DepartmentID", {options: departments}) %>
        <%= f.InputTag("PhoneNumber") %>
        <div class="py-3">
        <button class="btn btn-success " type="submit">Save</button>
        <%= linkTo(usersPath({ user_id: user.ID }), {class: "btn btn-warning", "data-confirm": "Are you sure?", body: "Cancel"}) %>
        </div>  
 <% } %>