
<div>
	<div class="row pt-4 mt-1 pb-1 mb-2 d-flex justify-content-between">
		<div class="col-6 fs-4 fw-bold semi-bold"> Users  </div>
		<div class="col-6 text-end">
			<%= linkTo(newUserPath(), {class: "btn border rounded-pill px-3"}) { %>
				<i class="fa fa-plus"></i> New User
				<% } %>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<table class="table align-middle">
				<thead class="bg-gray-ligth">
				  <tr >
					<th>FirstName</th>
					<th>LastName</th>
					<th>Dni</th>
					<th>EmailAddress</th>
					<th>PhoneNumber</th>
					<th scope="col" class="text-secondary fw-normal"></th>
				</tr>
				</thead>
				<tbody>
					<%= for (user) in users { %>
						<tr>
							<td class="align-middle"><%= user.FirstName %></td>
							<td class="align-middle"><%= user.LastName %></td>
							<td class="align-middle"><%= user.DNI %></td>
							<td class="align-middle"><%= user.EmailAddress %></td>
							<td class="align-middle"><%= user.PhoneNumber %></td>
							<td class="text-end">
								<div class="dropdown d-flex justify-content-end">
									<a class="border rounded-circle circle d-flex text-end justify-content-center text-decoration-none align-items-center" href="#"  id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
										<i class="fa-solid fs-5 fa-ellipsis  text-dark"></i>
									  </a>
	
									<ul class="dropdown-menu">
									  <li><%= linkTo(editUserPath({ user_id: user.ID }), {class:"dropdown-item", body: "Edit"}) %></li>
									  <li><%= linkTo(deleteUserPath({ user_id: user.ID }), {class:"dropdown-item", data-method: "DELETE" ,"data-confirm": "Are you sure?", body: "Delete"}) %></li>
									</ul>
								  </div>
							</td>
						</tr>
	
						<% } %>
				
				</tbody>
			  </table>
	
				<div class="text-center">
					<%= paginator(pagination) %>
				</div>
		</div>
	</div>
	</div>
	
	
	