<div class="py-4 mb-2">
  	<h3 class="d-inline-block">New User</h3>
</div>



<%= formFor(user, {action: usersCreatePath(), method: "POST"}) { %>
    <div class="row">

      <div class="col-md-6 py-3">
        <%= f.InputTag("FirstName") %>
      </div>
      <div class="col-md-6 py-3">
        <%= f.InputTag("LastName") %>
      </div>
      <div class="col-md-10 py-3 ">
        <%= f.InputTag("DNI") %>
      </div>
      <div class="col-md-2 pt-3">
        <%= f.SelectTag("DepartmentID", {options: departments}) %>
      </div>
      <div class="col-md-6 py-3">
        <%= f.InputTag("EmailAddress") %>
      </div>
      <div class="col-md-6 py-3">
        <%= f.InputTag("PhoneNumber") %>
      </div>
    
      

    </div>
    <button type="submit" class="btn btn-primary">send</button>
	<%= linkTo(usersPath(), {class: "btn btn-warning", "data-confirm": "Are you sure?", body: "Cancel"}) %>
<% } %>
