<div class="py-4 mb-2">
	<h3 class="d-inline-block">User Details</h3>
	<div class="float-right">
		<%= linkTo(usersPath(), {class: "btn btn-info"}) { %>
		Back to all Users
		<% } %>
		<%= linkTo(editUsersPath({ user_id: user.ID }), {class: "btn btn-warning", body: "Edit"}) %>
		<%= linkTo(deleteUsersPath({ user_id: user.ID }), {class: "btn btn-danger", data-method: "DELETE" ,"data-confirm": "Are you sure?", body: "Destroy"}) %>
	</div>
</div>

<ul class="list-group mb-2 ">
	<li class="list-group-item pb-1">
		<label class="small d-block ">ID</label>
		<p class="d-inline-block"><%= user.ID %></p>
	</li>
	<li class="list-group-item pb-1">
		<label class="small d-block">CreatedAt</label>
		<p class="d-inline-block"><%= user.CreatedAt %></p>
	</li>
	<li class="list-group-item pb-1">
		<label class="small d-block">UpdatedAt</label>
		<p class="d-inline-block"><%= user.UpdatedAt %></p>
	</li>
	<li class="list-group-item pb-1">
		<label class="small d-block">FirstName</label>
		<p class="d-inline-block"><%= user.FirstName %></p>
	</li>
	<li class="list-group-item pb-1">
		<label class="small d-block">LastName</label>
		<p class="d-inline-block"><%= user.LastName %></p>
	</li>
	<li class="list-group-item pb-1">
		<label class="small d-block">Dni</label>
		<p class="d-inline-block"><%= user.DNI %></p>
	</li>
	<li class="list-group-item pb-1">
		<label class="small d-block">EmailAddress</label>
		<p class="d-inline-block"><%= user.EmailAddress %></p>
	</li>
	<li class="list-group-item pb-1">
		<label class="small d-block">PhoneNumber</label>
		<p class="d-inline-block"><%= user.PhoneNumber %></p>
	</li>
</ul>
