<div class="pt-3 mb-2 hstack">
    <h3 class="ps-1 title-area">Areas</h3>
    <a class="btn btn-new ms-auto rounded-pill" href="/departments/new">Add Line</a>
</div>
<table class="table">
    <thead>
      <tr>
        <td scope="col" class="w-15">NAME</td>
        <td scope="col">DESCRIPTION</td>
        <td scope="col" class="w-27">Type</td>
        <td scope="col">USERS</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
        <%= for (department) in departments { %>
            <tr>
                <th class="align-middle"><%= department.Name %></th>
                <td class="align-middle"><%= department.Description %></td>
                <td class="align-middle"><%= for (requirement) in requirements { %>
                        <%= if (department.ID.String() == requirement.DepartmentID.String()) { %>
                            <span class=" p-1 px-2 rounded-pill bg-info bg-opacity-25 fw-light text-muted"><%= requirement.RequirementType.Name %></span>
                        <% } %>
                    <% } %>
                </td>
                <td class="align-middle">User</td>
                <td class="align-middle">
                    <div class="dropdown d-flex justify-content-end">
                        <a class="border rounded-circle circle d-flex text-end justify-content-center text-decoration-none align-items-center" href="#"  id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fs-5 fa-ellipsis  text-dark"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/departments/edit/<%= department.ID %>">Edit</a></li>
                            <li><%= linkTo(	deleteDepartmentPath({department_id: department.ID}), {class: "dropdown-item", data-method:"DELETE", data-confirm:"Are you sure?"}) { %> Remove <% } %></li>
                        </ul>
                    </div>
                </td>
            </tr>
        <% } %>
    </tbody>
</table>
