.back::after{
    font: var(--fa-font-solid);
    content: "\f060";
}

.btn-cancel{
    border: solid 1px #D0D0D0;
    color: #393939;
}

.btn-cancel:hover{
    border: solid 1px #D0D0D0;
}

.btn-bg-green{
    background-color: #00AD9B;
}

.btn-bg-green:hover{
    background-color: #00AD9B;
}

.height-115{
    height: 115px !important;
}

.form-check-input:checked {
    background-color: #00ad9b;
    border-color: #00ad9b;
}