.back::after{
    font: var(--fa-font-solid);
    content: "\f060";
    
}

<<<<<<< HEAD
.btn-new::before{
    font: var(--fa-font-solid);
    content: "\2b";
    margin-right: 10px;
=======
.btn-cancel{
    border: solid 1px #D0D0D0;
    color: var(--dark);
>>>>>>> 053bcfbbb30da61d29ced282e6649288dd355758
}

.title-area{
    color: var(--dark) !important;

<<<<<<< HEAD
}

.btn-cancel,
.btn-cancel:hover{
    border: solid 1px #D0D0D0;
    color: #393939;
}

=======
>>>>>>> 053bcfbbb30da61d29ced282e6649288dd355758
.height-115{
    height: 115px !important;
}

.form-check-input:checked {
<<<<<<< HEAD
    background-color: var(--green-ligth) !important;
    border-color: var(--green-ligth) !important;
=======
    background-color: var(--green-ligth);
    border-color: var(--green-ligth);
>>>>>>> 053bcfbbb30da61d29ced282e6649288dd355758
}