.back::after{
    font: var(--fa-font-solid);
    content: "\f060";
    
}

.btn-new::before{
    font: var(--fa-font-solid);
    content: "\2b";
    margin-right: 10px;
}

.title-area{
    color: var(--dark) !important;

}

.btn-cancel,
.btn-cancel:hover{
    border: solid 1px #D0D0D0;
    color: #393939;
}

.height-115{
    height: 115px !important;
}

.form-check-input:checked {
    background-color: var(--green-ligth) !important;
    border-color: var(--green-ligth) !important;
}