.btn-success, .btn-warning{
    background-color: #00AD9B !important;
    border-color: #00AD9B !important;
    border-radius: 47px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.btn-warning{
    background-color: #FFFFFF !important;
    border-color: #D0D0D0 !important;
}
label{
    margin:3px !important;
}