
.back::after{
    font: var(--fa-font-solid);
    content: "\f060";
}
.h-500px{
    height: 500px;
}
.w-48{
    width: 48% !important;
}
.h-115px{
    height: 115px;
}
.resize-none{
    resize: none !important;
  }
