:root{
    --gren-ligth : #00AD9B;
}

.back::after{
    font: var(--fa-font-solid);
    content: "\f060";
}
.h-500px{
    height: 500px;
}
.w-48{
    width: 48% !important;
}
.h-115px{
    height: 115px;
}
.bg-green-ligth{
    background-color: var(--gren-ligth);
}
.resize-none{
    resize: none !important;
  }
.btn-save-requirement:hover{
    background-color: var(--gren-ligth);
}  