<!DOCTYPE html>
<html class="h-full">
<head>
  <title>app</title>
  
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="csrf-param" content="authenticity_token" />
  <meta name="csrf-token" content="<%= authenticity_token %>" />
  <script src="https://kit.fontawesome.com/14fb058027.js" crossorigin="anonymous"></script>

  <link rel="icon" href="/assets/images/favicon.png" type="image/png">
  <%= stylesheetTag("application.css") %>
</head>
<body class="h-full">
  <aside>
    <%= partial("partials/navigation.plush.html") %>
  </aside>
	<main class="home px-3">
		<%= yield %>
	</main>
<%= javascriptTag("application.js", {defer: true}) %>
</body>
</html>